body {
    font-family: Helvetica, sans-serif; /* Tipo de fuente */
    min-height: 100vh; /* Tamaño para dar lugar al footer */
    display: flex;
    flex-direction: column;
    background-color: cornsilk; /* Color temporal */
    margin: 0;
    padding: 0;
}

/* Cambiamos el color de los hipervinculos y les sacamos el subrayado */
a {
    text-decoration: none;
    color: cornsilk;
}

/* Con esto les damos un color distinto al pasarles el cursos por encima */
a:hover {
    color:brown; 
    text-decoration:none; 
    cursor:pointer;  
}

/* Barra de navegación principal */
#barraTop ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
}

#barraTop img {
    height: 40px;
    width: auto;
}

header {
    background-color: darkgoldenrod;
    margin: 0px;
    height: 50px;
    width: 100%;
}

footer {
    background-color: darkgoldenrod; /* Color temporal */
    margin-top: auto;
}

footer section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: lighter;
    color: cornsilk; /* Color temporal */
}

footer section h6:first-child {
    margin-bottom: -10px;
}

h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: -50px;
    color: brown;
}

#principal {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#buscador {
    width: 25%;
    height: 80%;
    margin-right: 15px;
}

#filtro {
    height: 5%;
}

#filtro input {
    height: 100%;
    width: 100%;
}

#elementos {
    width: 65%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

#elementos .linea1, #elementos .linea2, #elementos .linea3 {
    flex: 0 0 32%;
}

.linea1 {
    width: 100%;
    margin-bottom: 10px;
}

.linea1:not(:first-child) {
    margin-left: 10px;
}

.linea2 {
    width: 100%;
    margin-bottom: 10px;
}

.linea2:not(:first-child) {
    margin-right: 10px;
}

.linea3 {
    width: 100%;
}

.linea3:not(:first-child) {
    margin-right: 10px;
}

.imagenes {
    height: 70%;
    width: 100%;
    border-bottom: 1px solid goldenrod;
}

.linea1, .linea2, .linea3 {
    text-align: center;
    border: 2px solid goldenrod;
}

.nombre {
    margin-bottom: -5px;
}

.precio {
    font-weight: bold;
}

#categorias {
    position: relative;
    height: 92%;
    margin-top: 5%;
    border: 2px solid brown;
    background-color: goldenrod;
}

#span2 {
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-50%, -50%) rotate(57deg);
    transform-origin: 0 0;
    white-space: nowrap;
    font-size: x-large;
}

#span1 {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(57deg);
    transform-origin: 0 0;
    white-space: nowrap;
    font-size: x-large;
}

#img1 {
    background: url('../catalogo/imagenes/producto01.jpeg') no-repeat center center;
    background-size: cover;
}
#img2 {
    background: url('../catalogo/imagenes/producto02.jpeg') no-repeat center center;
    background-size: cover;
}
#img3 {
    background: url('../catalogo/imagenes/producto03.jpeg') no-repeat center center;
    background-size: cover;
}
#img4 {
    background: url('../catalogo/imagenes/producto04.jpeg') no-repeat center center;
    background-size: cover;
}
#img5 {
    background: url('../catalogo/imagenes/producto05.jpeg') no-repeat center center;
    background-size: cover;
}
#img6 {
    background: url('../catalogo/imagenes/producto06.jpeg') no-repeat center center;
    background-size: cover;
}
#img7 {
    background: url('../catalogo/imagenes/producto07.jpeg') no-repeat center center;
    background-size: cover;
}
#img8 {
    background: url('../catalogo/imagenes/producto08.jpeg') no-repeat center center;
    background-size: cover;
}
#img9 {
    background: url('../catalogo/imagenes/producto09.jpeg') no-repeat center center;
    background-size: cover;
}