body {
    font-family: Helvetica, sans-serif; /* Tipo de fuente */
    min-height: 100vh; /* Tamaño para dar lugar al footer */
    display: flex;
    flex-direction: column;
    background-color: cornsilk; /* Color temporal */
    margin: 0;
    padding: 0;
}

/* Cambiamos el color de los hipervinculos y les sacamos el subrayado */
a {
    text-decoration: none;
    color: cornsilk;
}

/* Con esto les damos un color distinto al pasarles el cursos por encima */
a:hover {
    color:brown; 
    text-decoration:none; 
    cursor:pointer;  
}

/* Barra de navegación principal */
#barraTop ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
}

#barraTop img {
    height: 40px;
    width: auto;
}

header {
    background-color: darkgoldenrod;
    margin: 0px;
    height: 50px;
    width: 100%;
}

footer {
    background-color: darkgoldenrod; /* Color temporal */
    margin-top: auto;
}

footer section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: lighter;
    color: cornsilk; /* Color temporal */
}

footer section h6:first-child {
    margin-bottom: -10px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -50px;
    color: brown;
}

#principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

#c1, #c2, #c3 {
    margin-top: -35px;
    height: 70%;
    width: 25%;
    border: 2px solid brown;
    border-radius: 5px;
}

#img1, #img2, #img3 {
    height: 35%;
    border-bottom: 1px solid brown;
}

#img1 {
    background: url("../index/imagenes/index01.jpeg") no-repeat center center;
    background-size: cover;
}

#img2 {
    background: url("../index/imagenes/index02.jpeg") no-repeat center center;
    background-size: cover;
}

#img3 {
    background: url("../index/imagenes/index03.jpeg") no-repeat center center;
    background-size: cover;
}

h4 {
    text-align: center;
    font-size: larger;
}

p {
    margin-left: 35px;
    margin-right: 35px;
    font-size: larger;
}