body {
    font-family: Helvetica, sans-serif; /* Tipo de fuente */
    min-height: 100vh; /* Tamaño para dar lugar al footer */
    display: flex;
    flex-direction: column;
    background-color: cornsilk; /* Color temporal */
    margin: 0;
    padding: 0;
}

/* Cambiamos el color de los hipervinculos y les sacamos el subrayado */
a {
    text-decoration: none;
    color: cornsilk;
}

/* Con esto les damos un color distinto al pasarles el cursos por encima */
a:hover {
    color:brown; 
    text-decoration:none; 
    cursor:pointer;  
}

/* Barra de navegación principal */
#barraTop ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
}

#barraTop img {
    height: 40px;
    width: auto;
}

header {
    background-color: darkgoldenrod;
    margin: 0px;
    height: 50px;
    width: 100%;
}

footer {
    background-color: darkgoldenrod; /* Color temporal */
    margin-top: auto;
}

footer section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: lighter;
    color: cornsilk; /* Color temporal */
}

footer section h6:first-child {
    margin-bottom: -10px;
}

h1, .subtitulos {
    text-align: center;
    color: brown;
}

h1 {
    margin-bottom: -10px;
}

.dato {
    margin-top: 0px;
    margin-bottom: 15px;
}

/* Style the form */
#wizard {
    background-color: cornsilk;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    border-radius: 10px;
    border: 2px solid darkgoldenrod
}
  
/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    background-color: cornsilk;
    border-radius: 10px;
}
  
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}
  
/* Hide all steps by default: */
.tab {
    display: none;
}
  
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
/* Mark the active step: */
.step.active {
    opacity: 1;
}
  
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: orangered;
}

.opcionR {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0px;
}

.invisible {
    display: none;
}

.infoProducto {
    display: flex;
    flex-direction: column;
}

.reclamoTexto {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-top: 5px;
}

#confirmacionCheckbox {
    background-color: red;
    width: 15px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -50px;
    color: brown;
}