body {
    font-family: Helvetica, sans-serif; /* Tipo de fuente */
    min-height: 100vh; /* Tamaño para dar lugar al footer */
    display: flex;
    flex-direction: column;
    background-color: cornsilk; /* Color temporal */
    margin: 0;
    padding: 0;
}

/* Cambiamos el color de los hipervinculos y les sacamos el subrayado */
a {
    text-decoration: none;
    color: cornsilk;
}

/* Con esto les damos un color distinto al pasarles el cursos por encima */
a:hover {
    color:brown; 
    text-decoration:none; 
    cursor:pointer;  
}

/* Barra de navegación principal */
#barraTop ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
}

#barraTop img {
    height: 40px;
    width: auto;
}

header {
    background-color: darkgoldenrod;
    margin: 0px;
    height: 50px;
    width: 100%;
}

footer {
    background-color: darkgoldenrod; /* Color temporal */
    margin-top: auto;
}

footer section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: lighter;
    color: cornsilk; /* Color temporal */
}

footer section h6:first-child {
    margin-bottom: -10px;
}

#elementos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

#contenedor {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

#contenedor h2 {
    color: brown;
    text-decoration: underline;
}

.localidad {
    list-style: circle;
    text-decoration: line-through;
}

.localidadHabilitada {
    list-style: none;
}

#habilitadas, #futuras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

#mapa {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#frame {
    padding: 3px;
    border: 3px solid brown;
    border-style: double;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -50px;
    color: brown;
}