body {
    font-family: Helvetica, sans-serif; /* Tipo de fuente */
    min-height: 100vh; /* Tamaño para dar lugar al footer */
    display: flex;
    flex-direction: column;
    background-color: cornsilk; /* Color temporal */
    margin: 0;
    padding: 0;
}

/* Cambiamos el color de los hipervinculos y les sacamos el subrayado */
a {
    text-decoration: none;
    color: cornsilk;
}

/* Con esto les damos un color distinto al pasarles el cursos por encima */
a:hover {
    color:brown; 
    text-decoration:none; 
    cursor:pointer;  
}

/* Barra de navegación principal */
#barraTop ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
}

#barraTop img {
    height: 40px;
    width: auto;
}

header {
    background-color: darkgoldenrod;
    margin: 0px;
    height: 50px;
    width: 100%;
}

footer {
    background-color: darkgoldenrod; /* Color temporal */
    margin-top: auto;
}

footer section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: lighter;
    color: cornsilk; /* Color temporal */
}

footer section h6:first-child {
    margin-bottom: -10px;
}

.divisor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vh;
    height: 50%;
    margin: auto;
}

h2 {
    color: brown;
}

.divisor:first-of-type {
    padding-top: 50px;
}

.divisor:last-of-type {
    border-bottom: 2px;
    margin-top: 50px;
    padding-bottom: 15px;
    border: 2px solid brown;
}

form {
    display: flex;
    flex-direction: column;
    width: 60vh;
    padding: 10px;
}

form label {
    padding-bottom: 0px;
    padding-top: 10px;
}

form label:last-of-type {
    padding-bottom: 10px;
}